@page
@model LoginModel

@{
	ViewData["Title"] = "Log in";
}
<head>  
	<link rel="stylesheet" href="~/css/login.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" >
</head>

<body>
	@*<section class="vh-100">*@
	<section class="vh-100">
		<div class="container-fluid h-custom">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-md-9 col-lg-6 col-xl-5">
				   @*<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"class="img-fluid" alt="Sample image">*@
				     <div class="img-thumbnail">
						 <img src="/img/burger-dribble.gif" style="width:100%" class="img-fluid" alt="Sample image">
					</div>
				</div>
				<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

					@*<h1>@ViewData["Title"]</h1>*@
					@*external login*@
				   <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
						<p class="lead fw-normal mb-0 me-3">Sign in with</p>

						@{
							if ((Model.ExternalLogins?.Count ?? 0) == 0)
							{
								<div>
									<p>
											There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
									about setting up this ASP.NET application to support logging in via external services</a>.
									</p>
								</div>
							}
							else
							{
								<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">

									<button type="submit" class="btn btn-primary btn-floating mx-1" name="provider" value="@Model.ExternalLogins[0].Name" title="Log in using your @Model.ExternalLogins[0].DisplayName account">         

										<i class="fab fa-google"></i>
									</button>

									<button type="submit" class="btn btn-primary btn-floating mx-1" name="provider" value="@Model.ExternalLogins[1].Name" title="Log in using your @Model.ExternalLogins[1].DisplayName account">
										<i class="fab fa-facebook"></i>
									</button>         
								</form>
							}
						}
		  </div>

		  <div class="divider d-flex align-items-center my-4">
			<p class="text-center fw-bold mx-3 mb-0">Or</p>
		  </div>
					@*summary*@
		  <form id="account" method="post">
		   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
						@*username input*@
				<div class="form-outline mb-4">
					<input asp-for="Input.UserName"  placeholder="Enter a valid UserName" id="form3Example3" class="form-control form-control-lg" autocomplete="username" aria-required="true" />
					<label asp-for="Input.UserName" class="form-label" for="form3Example3" style="color:#FDA766"></label>
					<span asp-validation-for="Input.UserName" class="text-danger"></span>
				</div>
							@*password*@
				<div class="form-outline mb-3">
					<input asp-for="Input.Password" placeholder="Enter password" id="form3Example4" class="form-control form-control-lg" autocomplete="current-password" aria-required="true" />
					<label asp-for="Input.Password"  for="form3Example4" class="form-label" style="color:#FDA766"></label>
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>

				<div class="d-flex justify-content-between align-items-center">
							@* Checkbox *@
					<div class="form-check mb-0">

								@* <div class="checkbox">*@
						<label asp-for="Input.RememberMe" class="form-label form-check-label" for="form2Example3">
							<input class="form-check-input me-2" asp-for="Input.RememberMe" id="form2Example3"/>
									@Html.DisplayNameFor(m => m.Input.RememberMe)
						</label>
								@*</div>*@
								@*forget-password*@
								<div>
			  <a id="forgot-password"  class="text-body" asp-page="./ForgotPassword">Forgot your password?</a>
			  </div>
		  </div>

		  <div class="text-center text-lg-start mt-4 pt-2">
			<button type="submit" class="btn btn-primary btn-lg w-100"
              style="padding-left: 2.5rem; padding-right: 2.5rem; background-color:#FDA766; border-color: #FDA766" id="login-submit">Login</button>
			<p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a asp-page="./Register" 
                class="link-danger" asp-route-returnUrl="@Model.ReturnUrl">Register as a New User</a></p>
		  </div>


		 </form>
	   </div>
	  </div>
	 </div>
	  <p>
		   <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
	  </p>
		</section>

</div>


<section>
<div class="d-flex flex-column flex-md-row text-center 
text-md-start justify-content-between py-4 px-4 px-xl-5" style=" background-color:#555555;">
	 <!-- Copyright -->

	<div class="text-white mb-3 mb-md-0">
	  Copyright © 2022. All rights reserved.
	</div>
   <!-- Copyright -->

	<!-- Right -->
	  <!-- Right -->
	<div>
	  <a href="#!" class="text-white me-4">
		<i class="fab fa-facebook-f"></i>
	  </a>
	  <a href="#!" class="text-white me-4">
		<i class="fab fa-twitter"></i>
	  </a>
	  <a href="#!" class="text-white me-4">
		<i class="fab fa-google"></i>
	  </a>
	  <a href="#!" class="text-white">
		<i class="fab fa-linkedin-in"></i>
	  </a>
	</div>
	<!-- Right -->
  </div>
</section>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
